body{
    display: grid;
    grid-template-columns: 10vw 25vw 10vw;
    grid-template-rows: 20vh 60vh 20vh;
    margin: 0;
    height:100vh;
    background-image: url("../picture/login.png");
    background-size: 100vw 100vh;
    text-align: center;
    justify-content:space-around;
}

.login{
    min-width: 300px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    height: 60vh;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
}
form{
    padding-top: 6vh;
    text-align: center;
}
input{
    margin-top: 20px;
    display: inline-block;
    border-bottom: 2px solid rgb(2, 0, 0);
    text-indent: 5px;
    background: rgba(0, 0, 0, 0);
    color: rgb(170, 168, 168);
    outline: none;
    border-radius: 5px;
    border: none;
}
img{
    display: inline-block;
    width: 20px;
    height: 20px;
}
button{
    outline: none;
    border-radius: 10px;
    border: none;
    margin-top: 80px;
    background: rgba(121, 102, 69,0.2);
    width: 80px;
    color: rgb(223, 223, 223);
}
h1{
    margin: 0px;
    font-size: 16px;
    color:rgb(201, 201, 201);
    margin-bottom: 20px;
}
button:hover{
    background: rgba(207, 185, 147, 0.2);
}

@media only screen and (max-width:500px) and (min-width: 351px){
    .login{
        min-width: 250px;
    }
    body{
        background-position: -515px;
        background-size: 300vw 100vh;
        grid-template-columns: 1vw 80vw 1vw;
}

}

@media only screen and (max-width:350px){
    .login{
        min-width: 250px;
    }
    body{
        background-position: -515px;
        background-size: 300vw 100vh;
        grid-template-columns: 1vw 90vw 1vw;
}

}
@media only screen and (max-width:800px) and (min-width:501px){
    body{
        background-position: -515px;
        background-size: 300vw 100vh;
        grid-template-columns: 5vw 50vw 5vw;
}

}

*{
    touch-action:none
}
div a{
    display: block;
    margin-top: 35%;
    margin-left: 80%;
    width: 15%;
    font-size: 12px;
    color: rgb(185, 184, 184);
    cursor: pointer;

}